.file-button::file-selector-button {
    font-weight: bold;
    color: white;
    background: blue;
    font-size: 14px;
    border: 0;
    border-radius: 0.5em;
    padding: 8px 16px;
    text-align: center;
  }
  

.left {
    width: calc(25% - 10px);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: block;
    margin: 10px 0 10px 10px;
}

.right {
    border-left: 1px solid gray;
    margin: 10px 10px 10px calc(25% + 10px);
    padding-left: 10px;
    height: 100vh
}

#imageList, #classList, #masksList {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 15%;    
}
